<!DOCTYPE>
<html lang="ja">
    <head>
        <meta charset ="utf-8">
        <title>おみくじ</title>
    </head>
    <body>
        <h1>おみくじ</h1>
        <p>おみくじの結果</p>
        <form action="/" method ="POST">
            <button type ="submit" name="act" value ="draw" >おみくじをひく！</button>
        </form>
    </body>
</html>